* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: white;
}
body {
	background-color: #222;
	font-size: 100%;
	font-family: Verdana;
}

.container {
	margin: auto;
	width: 1200px;
	margin-top: 20px;
	padding: 10px;
}

nav {
	width: 300px;
	height: 500px;
	background-color: #444;
	float: left;
	box-sizing: border-box;
	padding: 10px;
}

section {
	width: 870px;
	height: 500px;
	margin-left: 10px;
	float: left;
	background-color: #fff;
	box-sizing: border-box;
	padding-left: 10px;

}

ul.menu {
	list-style-type: nome;
}

ul.menu li {
	width: 250px;
	height: 50px;
	line-height: 30px;
	background-color: #777;
	color: white;
	margin-top: 5px;
	box-sizing: border-box;
	padding-left: 10px;
}

.btn {
	width: 100px;
	height: 30px;
	border: 1x solid #ddd;
	background-color: #2a578b;
	color:white;
}

.campo {
	width: 300px;
	height: 30px;
	border: 1px solid #ddd;
	margin-top: 5px;
	margin-bottom: 10px;
}

article {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	background-color: #d6d5d5;
	margin-bottom: 5px;
}